* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: #232f23;
}

header h1 {
    color: #fff;
}

header a svg {
    font-size: 30px;
    color: #fff;
    &:hover {
        color: rgb(10,88,202);
    }
}

header a span {
    width: 20px;
    height: 20px;
    right: -10px;
    top: -10px;
    background-color: orange;
    color: #fff;
    border-radius: 50%;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 1.5rem;
}

.products .product img {
    max-width: 100%;
}

.products .product .name {
    font-size: 16px;
}

.cart table tbody tr td {
    vertical-align: middle;
}

input {
    outline: none;
}

.cart table tbody tr td:first-of-type {
    max-width: 450px;
}

.cart table tbody tr td:first-of-type div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart table tbody tr td img {
    width: 100px;
}